body {
	input[name="address"] {
		position: absolute;
		overflow: hidden;
		clip: rect(0px, 0px, 0px, 0px);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0px;
		border: 0px none;
	}
	div#page-wrapper {top: 105px;}
	header#menu {
		left: 0px;
		top: 0;
		width: 100%;
		height: 80px;
		text-align: center;
		z-index: 1998;
		ul#main-navigation {
			position: relative;
			top: 48%;
			width: 100%;
			margin: auto;
			height: 40px;
			li {
				display: inline-block;
				position: relative;
				margin-left: 2%;
			}
			li#menu-li-1 {margin-left: 0;}
		}
		select#menuSelect {
			position: relative;
			margin: auto;
			top: .12rem;			
		}
	}	
	section#banner {
		a#scrollto {
			margin-left: 4%;
			float: left;
		}
	}
	section#menu-visual {
		div.layer {
			padding: 0 5%;
			.mapaRedes01, .mapaRedes02, .mapaRedes03, .mapaRedes04, .mapaRedes05, .mapaRedes06, .mapaRedes07, .mapaRedes08, .mapaRedes09 {
				position: relative;
				top: 0;
				left: 0;
				width: 33.33%;
				height: 33.33%;
				float:left;
				.mapaRedesLink {
					display: block;
					width: 100%;
					height: 100% !important;
				}				
				.mapaRedesBG1 {background:url('base/img/secciones/menu-visual/logo-google+.jpg') 0% 50%;}
				.mapaRedesBG2 {background:url('base/img/secciones/menu-visual/logo-linkedin.jpg') 0% 50%;}
				.mapaRedesBG3 {background:url('base/img/secciones/menu-visual/logo-youtube.jpg') no-repeat 0% 50%;}
				.mapaRedesBG4 {background:url('base/img/secciones/menu-visual/logo-twitter.png') no-repeat 0% 0%;}
				.mapaRedesBG5 {background:url('base/img/secciones/menu-visual/logo-facebook.jpg') no-repeat top right;}
			}			
		}
	}	
	section#quienes-somos {
		h4 {text-align: center;}
		ul#blog-preview {
			li {
				div.col.span_8 {
					padding: 2%;
					text-align: justify;
					span.detail {
						font-size: .9rem;
					}			
				}
			}
			li#qs-li-01 { div.col.span_4 {background: url('base/img/secciones/quienes-somos/01.jpg') no-repeat 65% 0; height: 480px;} }
			li#qs-li-02 { div.col.span_4 {background: url('base/img/secciones/quienes-somos/02.jpg') no-repeat 15% 0; height: 280px;} }
			li#qs-li-03 { div.col.span_4 {background: url('base/img/secciones/quienes-somos/03.jpg') no-repeat 45% 43%; height: 280px;} }
		}
	}
	section#metodo-krasiba {
		h4 {text-align: center;}
		ul#blog-preview {
			li {
				div.col.span_8 {
					padding: 2%;
					text-align: justify;
					span.detail {
						font-size: .9rem;
					}			
				}
			}
			li#mk-li-01 {
				div.col.span_4 {background: url('base/img/secciones/metodo/01.jpg') no-repeat 100% 0%; height: 360px;}
				table {
					font-size: .7rem;
					td {
						padding: 0 20px;
					}
				}
			}
			li#mk-li-02 { div.col.span_4 {background: url('base/img/secciones/metodo/02.jpg') no-repeat 37% 0%; height: 297px;} }
			li#mk-li-03 { div.col.span_4 {background: url('base/img/secciones/metodo/03.jpg') no-repeat 100% 0%; height: 265px;} }
			li#mk-li-04 { div.col.span_4 {background: url('base/img/secciones/metodo/04.jpg') no-repeat 12% 0%; height: 379px;} }
			li#mk-li-05 { div.col.span_4 {background: url('base/img/secciones/metodo/05.jpg') no-repeat 0% 0%; height: 641px;} }
			li#mk-li-06 { div.col.span_4 {background: url('base/img/secciones/metodo/06.jpg') no-repeat 66% 0%; height: 486px;} }
			li#mk-li-07 { div.col.span_4 {background: url('base/img/secciones/metodo/07.jpg') no-repeat 39% 0%; height: 398px;} }
			li#mk-li-08 { div.col.span_4 {background: url('base/img/secciones/metodo/08.jpg') no-repeat 0% 0%; height: 575px;} }
		}
	}
	section#coaching {
		ul#blog-preview {
			li {
				div.col.span_8 {
					padding: 2%;
					text-align: justify;
					span.detail {
						font-size: .9rem;
					}			
				}
			}
			li#ctc-li-01 {
				div.col.span_4 {background: url('base/img/secciones/coaching/01.jpg') no-repeat 100% 0%; height: 632px;}
				table {
					font-size: .7rem;
					td {
						padding: 0 20px;
					}
				}
			}
		}
	}
	section#instalaciones {
		div.icon-box {
			overflow: hidden;
		}
		p {
			text-align: justify;
		}
	}
	section#album {                         // Dentro de index.html
		a#clickAqui {
			color: rgba(218,218,218,0.8);
		}
	}
	section#galeriaFotografica {            // Dentro de galeria.html
		#work-preview {
			width: 98%;
			margin: auto;			
			li {
				width: 19.9%;
			}
		}
		.parallax-content.parallax-contact {  // Dentro de las galerías individuales, i.e: galeria-83.php
			background: url('base/img/secciones/header/01.jpg');
			background-repeat: no-repeat;
		    .photoG:before,
		    .photoG:after {display: block; content: "";}
		    .photoG:after {clear: left;}

		    .photoG {
		        position: relative;
		        width: 100%;
		        height: auto;
		    }
		    .photoG-img {
		        position: relative;
		        width: 150px;
		        height: 100px;
		        float: left;
		        margin: 10px 10px 10px 14px;
		        overflow: hidden;
		    }
		    .photoG-img a img {width: 100%;}
		}
	}
	section#eventos {
		div.header {
			height: 80px;
		}
		div.content {
			text-align: justify;
			height: 270px;
		}
		div.footer {
			overflow: hidden;
		}
	}
	section#ubicacion {
		div.header {
			height: 141px;
		}
		div.content {
			text-align: justify;
			height: 341px;
		}
		div.footer {
			overflow: hidden;
			height: 96px;
			margin-bottom: 10px;
		}
	}
	section#erange {
		span {
			position: relative;
			top:4rem;
			font-size:.8rem;
		}
	}
	section#descargas {
		div.content {
			height: 150px;
		}		
	}
	section#contacto {
		a#correoKrasiba {
			color: white;
		}
		div.parallax-content.parallax-contact {
			background: url('base/img/secciones/header/01.jpg');
			background-repeat: no-repeat;
		}
		form {
			input, textarea {background: rgba(0,0,0,0.5);}
			input[type="submit"] {background: #48a65b;}
		}
	}
	section#reclutamiento {
		div.parallax-content.parallax-contact {
			background: url('base/img/secciones/header/01.jpg');
			background-repeat: no-repeat;
		}
		form {
			input, textarea {background: rgba(0,0,0,0.5);}
			input[type="submit"] {background: #48a65b;}
		}
	}
	footer#footer {
		div.col.span_4 {
			width: 24%;
			clear: left;
			margin: auto;
			float: none;
			.social-links {
				position: relative;
				text-align: center;
			}
		}
	}
} // FINAL








@import 'partials/testimonios';
@import 'partials/erange';
@import 'partials/media-query';







