body section#banner a#scrollto {
  margin-left: 4%;
  float: left;
}
body section#menu-visual div.layer {
  padding: 0 5%;
}
body section#menu-visual div.layer .mapaRedes01, body section#menu-visual div.layer .mapaRedes02, body section#menu-visual div.layer .mapaRedes03, body section#menu-visual div.layer .mapaRedes04, body section#menu-visual div.layer .mapaRedes05, body section#menu-visual div.layer .mapaRedes06, body section#menu-visual div.layer .mapaRedes07, body section#menu-visual div.layer .mapaRedes08, body section#menu-visual div.layer .mapaRedes09 {
  position: relative;
  top: 0;
  left: 0;
  width: 33.33%;
  height: 33.33%;
  float: left;
}
body section#menu-visual div.layer .mapaRedes01 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes02 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes03 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes04 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes05 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes06 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes07 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes08 .mapaRedesLink, body section#menu-visual div.layer .mapaRedes09 .mapaRedesLink {
  display: block;
  width: 100%;
  height: 100% !important;
}
body section#menu-visual div.layer .mapaRedes01 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes02 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes03 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes04 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes05 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes06 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes07 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes08 .mapaRedesBG1, body section#menu-visual div.layer .mapaRedes09 .mapaRedesBG1 {
  background: url("base/img/secciones/menu-visual/logo-google+.jpg") 0% 50%;
}
body section#menu-visual div.layer .mapaRedes01 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes02 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes03 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes04 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes05 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes06 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes07 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes08 .mapaRedesBG2, body section#menu-visual div.layer .mapaRedes09 .mapaRedesBG2 {
  background: url("base/img/secciones/menu-visual/logo-linkedin.jpg") 0% 50%;
}
body section#menu-visual div.layer .mapaRedes01 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes02 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes03 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes04 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes05 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes06 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes07 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes08 .mapaRedesBG3, body section#menu-visual div.layer .mapaRedes09 .mapaRedesBG3 {
  background: url("base/img/secciones/menu-visual/logo-youtube.jpg") no-repeat 0% 50%;
}
body section#menu-visual div.layer .mapaRedes01 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes02 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes03 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes04 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes05 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes06 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes07 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes08 .mapaRedesBG4, body section#menu-visual div.layer .mapaRedes09 .mapaRedesBG4 {
  background: url("base/img/secciones/menu-visual/logo-twitter.png") no-repeat 0% 0%;
}
body section#menu-visual div.layer .mapaRedes01 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes02 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes03 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes04 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes05 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes06 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes07 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes08 .mapaRedesBG5, body section#menu-visual div.layer .mapaRedes09 .mapaRedesBG5 {
  background: url("base/img/secciones/menu-visual/logo-facebook.jpg") no-repeat top right;
}
body section#quienes-somos ul#blog-preview li div.col.span_8 {
  padding: 2%;
  text-align: justify;
}
body section#quienes-somos ul#blog-preview li div.col.span_8 span.detail {
  font-size: .9rem;
}
body section#quienes-somos ul#blog-preview li#qs-li-01 div.col.span_4 {
  background: url("base/img/secciones/quienes-somos/01.jpg") no-repeat 65% 0;
  height: 480px;
}
body section#quienes-somos ul#blog-preview li#qs-li-02 div.col.span_4 {
  background: url("base/img/secciones/quienes-somos/02.jpg") no-repeat 15% 0;
  height: 280px;
}
body section#quienes-somos ul#blog-preview li#qs-li-03 div.col.span_4 {
  background: url("base/img/secciones/quienes-somos/03.jpg") no-repeat 45% 43%;
  height: 280px;
}
body section#metodo-krasiba ul#blog-preview li div.col.span_8 {
  padding: 2%;
  text-align: justify;
}
body section#metodo-krasiba ul#blog-preview li div.col.span_8 span.detail {
  font-size: .9rem;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-01 div.col.span_4 {
  background: url("base/img/secciones/metodo/01.jpg") no-repeat 100% 0%;
  height: 360px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-01 table {
  font-size: .7rem;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-01 table td {
  padding: 0 20px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-02 div.col.span_4 {
  background: url("base/img/secciones/metodo/02.jpg") no-repeat 37% 0%;
  height: 297px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-03 div.col.span_4 {
  background: url("base/img/secciones/metodo/03.jpg") no-repeat 100% 0%;
  height: 265px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-04 div.col.span_4 {
  background: url("base/img/secciones/metodo/04.jpg") no-repeat 12% 0%;
  height: 379px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-05 div.col.span_4 {
  background: url("base/img/secciones/metodo/05.jpg") no-repeat 0% 0%;
  height: 641px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-06 div.col.span_4 {
  background: url("base/img/secciones/metodo/06.jpg") no-repeat 0% 0%;
  height: 486px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-07 div.col.span_4 {
  background: url("base/img/secciones/metodo/07.jpg") no-repeat 0% 0%;
  height: 398px;
}
body section#metodo-krasiba ul#blog-preview li#mk-li-08 div.col.span_4 {
  background: url("base/img/secciones/metodo/08.jpg") no-repeat 0% 0%;
  height: 575px;
}
body section#coaching ul#blog-preview li div.col.span_8 {
  padding: 2%;
  text-align: justify;
}
body section#coaching ul#blog-preview li div.col.span_8 span.detail {
  font-size: .9rem;
}
body section#coaching ul#blog-preview li#ctc-li-01 div.col.span_4 {
  background: url("base/img/secciones/coaching/01.jpg") no-repeat 100% 0%;
  height: 632px;
}
body section#coaching ul#blog-preview li#ctc-li-01 table {
  font-size: .7rem;
}
body section#coaching ul#blog-preview li#ctc-li-01 table td {
  padding: 0 20px;
}
body section#instalaciones div.icon-box {
  overflow: hidden;
}
body section#instalaciones p {
  text-align: justify;
}
body section#eventos div.header {
  height: 80px;
}
body section#eventos div.content {
  text-align: justify;
  height: 270px;
}
body section#eventos div.footer {
  overflow: hidden;
}
body section#ubicacion div.header {
  height: 141px;
}
body section#ubicacion div.content {
  text-align: justify;
  height: 341px;
}
body section#ubicacion div.footer {
  overflow: hidden;
  height: 96px;
  margin-bottom: 10px;
}
body footer#contact div.col.span_4 {
  width: 24%;
  clear: left;
  margin: auto;
  float: none;
}
body footer#contact div.col.span_4 .social-links {
  position: relative;
  text-align: center;
}
body footer#contact a#correoKrasiba {
  color: white;
}

/*  __________________________________________________________________________________________________________
  __________________________________________________________________________________________________________
  ______________________________________   MEDIA QUERIES
  __________________________________________________________________________________________________________
  __________________________________________________________________________________________________________
*/
@media (min-width: 240px) and (max-width: 479px) {
  section#quienes-somos ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#quienes-somos ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#metodo-krasiba ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#metodo-krasiba ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#coaching ul#blog-preview li div.col.span_4 {
    width: 93%;
    margin: auto;
    float: none;
  }
  section#coaching ul#blog-preview li div.col.span_8 {
    width: 96.666667%;
    margin: auto;
    clear: left;
    float: none;
  }
  section#coaching ul#blog-preview li#mk-li-01 div.col.span_4 {
    width: 55%;
  }
  section#coaching ul#blog-preview li#mk-li-01 div.col.span_8 {
    width: 59.666667%;
  }

  section#instalaciones p {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 480px) {
  section#quienes-somos ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#quienes-somos ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#metodo-krasiba ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#metodo-krasiba ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#coaching ul#blog-preview li div.col.span_4 {
    width: 93%;
    margin: auto;
    float: none;
  }
  section#coaching ul#blog-preview li div.col.span_8 {
    width: 96.666667%;
    margin: auto;
    clear: left;
    float: none;
  }
  section#coaching ul#blog-preview li#mk-li-01 div.col.span_4 {
    width: 55%;
  }
  section#coaching ul#blog-preview li#mk-li-01 div.col.span_8 {
    width: 59.666667%;
  }

  section#instalaciones p {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 626px) {
  section#quienes-somos ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#quienes-somos ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#metodo-krasiba ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#metodo-krasiba ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }
}
@media (min-width: 768px) {
  section#quienes-somos ul#blog-preview li div.col.span_4 {
    width: 90%;
    margin: auto;
    float: none;
  }
  section#quienes-somos ul#blog-preview li div.col.span_8 {
    width: 93.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#metodo-krasiba ul#blog-preview li div.col.span_4 {
    width: 64%;
    margin: auto;
    float: none;
  }
  section#metodo-krasiba ul#blog-preview li div.col.span_8 {
    width: 68.666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#instalaciones p {
    width: 51%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  section#quienes-somos ul#blog-preview li div.col.span_4 {
    width: 62%;
    margin: auto;
    float: none;
  }
  section#quienes-somos ul#blog-preview li div.col.span_8 {
    width: 66.6666666667%;
    margin: auto;
    clear: left;
    float: none;
  }

  section#metodo-krasiba ul#blog-preview li div.col.span_4 {
    width: 55%;
    margin: auto;
    float: none;
  }
  section#metodo-krasiba ul#blog-preview li div.col.span_8 {
    width: 59.666667%;
    margin: auto;
    clear: left;
    float: none;
  }
  section#metodo-krasiba ul#blog-preview li#mk-li-01 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-02 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-03 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-06 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-07 div.col.span_4 {
    width: 52%;
  }
  section#metodo-krasiba ul#blog-preview li#mk-li-01 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-02 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-03 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-06 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-07 div.col.span_8 {
    width: 55.666667%;
  }

  section#coaching ul#blog-preview li div.col.span_4 {
    width: 33.33%;
    float: left;
  }
  section#coaching ul#blog-preview li div.col.span_8 {
    width: 66.6666666667%;
    margin: auto;
    clear: none;
    float: left;
  }
  section#coaching ul#blog-preview li#ctc-li-01 div.col.span_4 {
    width: 33.33%;
  }
  section#coaching ul#blog-preview li#ctc-li-01 div.col.span_8 {
    width: 66.6666666667%;
  }

  section#instalaciones p {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  section#quienes-somos ul#blog-preview li div.col.span_4 {
    width: 33.33%;
    float: left;
  }
  section#quienes-somos ul#blog-preview li div.col.span_8 {
    width: 66.6666666667%;
    margin: auto;
    clear: none;
    float: left;
  }

  section#metodo-krasiba ul#blog-preview li div.col.span_4 {
    width: 33.33%;
    float: left;
  }
  section#metodo-krasiba ul#blog-preview li div.col.span_8 {
    width: 66.6666666667%;
    margin: auto;
    clear: none;
    float: left;
  }
  section#metodo-krasiba ul#blog-preview li#mk-li-01 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-02 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-03 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-04 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-05 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-06 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-07 div.col.span_4, section#metodo-krasiba ul#blog-preview li#mk-li-08 div.col.span_4 {
    width: 33.33%;
  }
  section#metodo-krasiba ul#blog-preview li#mk-li-01 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-02 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-03 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-04 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-05 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-06 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-07 div.col.span_8, section#metodo-krasiba ul#blog-preview li#mk-li-08 div.col.span_8 {
    width: 66.6666666667%;
  }
}
