
@media screen and (max-width: 1050px) {

    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .parallax-content {
        background-attachment: scroll;
        background-position: 50% 0;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */

    #banner {
        background-attachment: scroll;
        background-position: 50% 0;
    }


    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview .text h4 {
        margin-top: 16.5%;
    }

}



@media screen and (max-width: 979px) {

    /* --------------------------------------------------------------------- */
    /* 1. DOCUMENT SETUP
    /* --------------------------------------------------------------------- */

    body {
        font-size: 95%;
    }


    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .headline-wrapper {
		margin-bottom: 70px;
        padding: 70px 0;
    }

    .parallax-content {
		margin-top: 70px;
        padding: 70px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */
	
	#banner .button-wrapper {
	    padding-top: 50px;
	}
	
	#banner .scroll-down {
	    bottom: 5px;
	}


    /* --------------------------------------------------------------------- */
    /* 7. WORK
    /* --------------------------------------------------------------------- */

    /* === 7.1 FILTER TABS === */

    .work-tabs li {
        display: inline-block;
        margin: 0 5px 10px 0;
    }
    .work-tabs li a {
        padding: 15px 40px;
    }

    #work-preview li {
        width: 50%;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 8. Newsletter
    /* --------------------------------------------------------------------- */

    .newsletter .submit {
        margin-top: 10px;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 9. TEAM
    /* --------------------------------------------------------------------- */

    .team-member {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-member:hover {
        margin-top: 0;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #blog-preview .prev-img {
        width: 100%;
        float: none;
    }

    #blog-preview .text {
        width: 100%;
        float: left;
        margin-bottom: 40px;
    }

    #blog-preview .text h4 {
        margin-top: 30px;
        margin-bottom: 20px;
    }


    /* --------------------------------------------------------------------- */
    /* 3. BUTTONS (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .button {
        padding: 15px 40px;
        font-size: 0.95em;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 4. LINES (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .hr.margin {
        margin: 70px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 7. ICON BOX (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .icon-box:hover i {
        margin-top: 0;
    }
	

    /* --------------------------------------------------------------------- */
    /* 10. PRICING TABLE (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .pricing-table {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing-table:hover {
        margin-top: 0;
    }
	
    .pricing-table .price {
        font-weight: 300;
        font-size: 2.3em;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 11. CONTACT
	/* --------------------------------------------------------------------- */

	.contact-row {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	


	/* --------------------------------------------------------------------- */
	/* 13. FACTS (SHORTCODES)
	/* --------------------------------------------------------------------- */

	.facts .icon-number {
		font-size: 3.5em;
	}

	.facts .text {
		font-size: 1.1em;
	}


}




@media screen and (max-width: 660px) {
	
    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .headline-wrapper {
		margin-bottom: 50px;
        padding: 50px 0;
    }

    .parallax-content {
		margin-top: 50px;
        padding: 50px 0;
    }
	

    /* --------------------------------------------------------------------- */
    /* 4. HEADER
    /* --------------------------------------------------------------------- */

    #header .logo-wrapper {
        top: 30px;
    }

    .social-links {
        display: none;
    }


    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #main-navigation {
        top: auto;
        bottom: 50px;
    }
    #main-navigation li {
        margin: 0 0 8px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */

    #banner .banner-container {
        top: 20%;
    }

    #banner .big-text {
        font-size: 4em;
    }
    #banner .small-text {
        font-size: 1.2em;
    }

    #banner .scroll-down {
        display: none;
    }


    /* --------------------------------------------------------------------- */
    /* 7. WORK
    /* --------------------------------------------------------------------- */

    #work-preview li {
        width: 100%;
    }


    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview .layer {
        top: 23% !important;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 11. CONTACT
	/* --------------------------------------------------------------------- */

	.contact-row {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	

    /* --------------------------------------------------------------------- */
    /* 4. LINES (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .hr.margin {
        margin: 50px 0;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 8. SLIDER (SHORTCODES)
	/* --------------------------------------------------------------------- */
	
	#comment-slider .comment {
	    font-size: 1.1em;
	}


}




@media screen and (max-width: 440px) {

    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .headline-wrapper {
		margin-bottom: 40px;
        padding: 40px 0;
    }

    .parallax-content {
		margin-top: 40px;
        padding: 40px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 4. HEADER
    /* --------------------------------------------------------------------- */

    #header .logo-wrapper {
        top: 20px;
    }


    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #main-navigation {
        bottom: 30px;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */

    #banner .banner-container {
        top: 15%;
    }

    #banner .big-text {
        font-size: 3.3em;
    }
    #banner .small-text {
        font-size: 1em;
    }


    /* --------------------------------------------------------------------- */
    /* 7. WORK
    /* --------------------------------------------------------------------- */

	#work-preview .layer h4 {
		margin-top: 18%;
	}
	

    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview .layer {
        top: 13% !important;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 11. CONTACT
	/* --------------------------------------------------------------------- */

	.contact-row {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	
	/* --------------------------------------------------------------------- */
	/* 1. TYPOGRAPHY (SHORTCODES)
	/* --------------------------------------------------------------------- */
    
    h1 {
        font-size: 2.8em;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 4. LINES (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .hr.margin {
        margin: 40px 0;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 8. SLIDER (SHORTCODES)
	/* --------------------------------------------------------------------- */
	
	#comment-slider .comment {
	    font-size: 0.9em;
	}
	

}