/*


	1. DOCUMENT SETUP
	  1.1 PAGE PRELOADER
	2. POSITIONING, MARGIN AND PADDING	
	3. WRAPPER
   	  3.1 PARALLAX WRAPPER
	4. HEADER
	5. NAVIGATION
	6. BANNER
	7. WORK
	  7.1 FILTER TABS
	  7.2 PREVIEW GRID
	  7.3 PREVIEW GRID LAYER
	  7.4 WORK DETAILS
	8. NEWSLETTER
	9. TEAM
	10. BLOG
 	  10.1 BLOG PREVIEW
 	  10.2 BLOG DETAILS
	11. CONTACT
	  11.1 CONTACT FORM
	  11.2 CONTACT DETAILS
	12. FOOTER
	  12.1 TAGS
	  12.2 BOTTOM BOX
	13. SHORTCODE PAGE


*/

/* --------------------------------------------------------------------- */
/* 1.DOCUMENT SETUP
/* --------------------------------------------------------------------- */
body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #d7d7d7;
    background: #2d3943;
    height: 100%;
	width: 100%;
    overflow-x: hidden;
}

::selection {
    background: #48a65b;
    color: #d7d7d7;
}
::-moz-selection {
    background: #48a65b;
    color: #d7d7d7;
}



/* === 1.1 PAGE PRELOADER === */

#page-preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #384551;
}
#page-preloader .loader {
	margin-top: 25%;
	text-align: center;
}
#page-preloader .loader img {
	width: 30px;
}





/* --------------------------------------------------------------------- */
/* 2. POSITIONING, MARGIN AND PADDING
/* --------------------------------------------------------------------- */

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.padding-top {
    padding-top: 50px;
}

.margin-top {
    margin-top: 50px;
}




/* --------------------------------------------------------------------- */
/* 3. WRAPPER
/* --------------------------------------------------------------------- */

#page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section {
    display: block;
}

.wrapper.color-bg {
    background: #48a65b;
}

.headline-wrapper {
	margin-bottom: 80px;
	padding: 80px 0;
	text-align: center;
	background: #48a65b;
}



/* === 3.1 PARALLAX WRAPPER === */

.parallax-content {
    width: 100%;
	margin-top: 80px;
	padding: 80px 0;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.parallax-clients {
    background-image: url('../images/banner/blur_background.jpg');
}
.parallax-comments {
    background-image: url('../images/banner/blur_background.jpg');
}
.parallax-newsletter {
    background-image: url('../images/banner/blur_background.jpg');
}
.parallax-contact {
    background-image: url('../images/banner/blur_background.jpg');
}




/* --------------------------------------------------------------------- */
/* 4. HEADER
/* --------------------------------------------------------------------- */

#header {
    display: block;
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    text-align: center;
    background: #27333d;
    z-index: 998;
}

#header .logo-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}

.social-links {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
.social-links a {
     display: inline-block;
     margin: 0 10px;
     font-size: 1.3em;
     color: #d7d7d7;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
.social-links a:hover {
    color: #48a65b;
}

#open-nav {
    position: absolute;
    display: block;
    padding: 0;
	width: 50px;
    top: 48%;
    right: -50px;
    font-size: 1.8em;
    text-align: center;
	color: #d7d7d7;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
#open-nav:hover {
    color: #56c16b;
}




/* --------------------------------------------------------------------- */
/* 5. NAVIGATION
/* --------------------------------------------------------------------- */

#main-navigation {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
}
#main-navigation li {
    margin: 0 0 10px 0;
}
#main-navigation li a {
    font-size: 0.9em;
    font-weight: 600;
    color: #d7d7d7;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
#main-navigation li a:hover {
    color: #48a65b;
}
#main-navigation li a.active {
    color: #48a65b;
}




/* --------------------------------------------------------------------- */
/* 6. BANNER
/* --------------------------------------------------------------------- */

#banner {
    width: 100%;
    height: 100%;
    text-align: center;
}
#banner.parallax {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../images/banner/blur_background.jpg');
}

#banner .banner-container {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    line-height: 1.3;
    z-index: 10;
}

#banner .big-text {
    display: block;
    font-weight: 600;
    font-size: 5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
#banner .small-text {
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
}

#banner .button-wrapper {
    padding-top: 80px;
}

#banner .button-wrapper .button {
    margin: 0 5px 10px 5px;
}

#banner .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
}

#banner .scroll-down a {
    display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../images/layout/down.png') no-repeat center;
    border: 2px solid #dadada;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
    -webkit-animation-name: jump;
    -moz-animation-name: jump;
    -o-animation-name: jump;
    -ms-animation-name: jump;
    animation-name: jump;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
	
}
#banner .scroll-down a:hover {
    border: 2px solid #48a65b;
    background-color: #48a65b;
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    -ms-animation-name: none;
    animation-name: none;
}

@-moz-keyframes jump {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-webkit-keyframes jump {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

}

@-o-keyframes jump {
  0% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-ms-keyframes jump {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-30px);
  }
}




/* --------------------------------------------------------------------- */
/* 7. WORK
/* --------------------------------------------------------------------- */

/* === 7.1 FILTER TABS === */

.work-tabs {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}
.work-tabs li {
    display: inline-block;
    margin: 0 5px;
}
.work-tabs li a {
    display: inline-block;
    padding: 20px 60px;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    background: none;
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
.work-tabs li a:hover {
    color: #d7d7d7;
    background: #48a65b;
    border: 2px solid #48a65b;
}
.work-tabs li.active a {
    color: #d7d7d7;
    background: #48a65b;
    border: 2px solid #48a65b;
}



/* === 7.2 PREVIEW GRID === */

.work-container {
    margin: 50px auto 0 auto;
	width: 99.99%;
}

#work-preview {
	position: relative;
	width: 100%;
}

#work-preview li {
	display: none;
	opacity: 0;
	position: relative;
    float: left;
    overflow: hidden;
    width: 33.3333333333%;
}

#work-preview li a, #work-preview img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}

#work-preview li a {
	overflow: hidden;
	color: #d7d7d7;
}

#work-preview img {
	z-index: 1;
	max-width: 100%;
}

#work-preview:after, #work-preview li:after {
    content: "";
    display: table;
    clear: both;
}



/* === 7.3 PREVIEW GRID LAYER === */

#work-preview .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: center;
	background: rgba(71,165,91,0.85);
}

#work-preview .layer h4 {
	font-size: 1.6em;
	margin-top: 23%;
}

#work-preview .layer span {
	display: inline-block;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-top: 30px;
}

#work-preview .layer span i {
    font-style: italic;
    text-transform: none;
}



/* === 7.4 WORK DETAILS === */

#work-wrapper {
	display: none;
    position: relative;
    width: 100%;
    background: #384551;
}
#work-wrapper:after {
    display: table;
    content: '';
    clear: both;
}

#work-wrapper #work-loader {
	padding: 80px 0 80px 0;
	text-align: center;
}
#work-wrapper #work-loader img {
	width: 30px;
}

#work-wrapper .work-article {
	display: none;
}

#work-wrapper .close {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#work-wrapper #close-work-wrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #d7d7d7;
    background: url('../images/layout/close.png') no-repeat center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
#work-wrapper #close-work-wrapper:hover {
    border: 2px solid #48a65b;
    background-color: #48a65b;
}

#work-wrapper .wrapper {
	padding: 50px 0 60px 0;
}


#work-wrapper .work-slider img {
    width: 100%;
    max-width: 100%;
}

#work-wrapper h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px;
}

#work-wrapper .client {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 20px;
}



.work-button {
    padding: 50px 0 0 0;
    text-align: center;
}

.work-button .button {
    position: relative;
}

.work-button .button img {
    display: none;
    position: absolute;
    top: 20px;
    right: -40px;
    width: 25px;
}




/* --------------------------------------------------------------------- */
/* 8. NEWSLETTER
/* --------------------------------------------------------------------- */

.newsletter {
    padding: 20px 0 0 0;
    text-align: center;
}

.newsletter input {
    display: inline-block;
}




/* --------------------------------------------------------------------- */
/* 9. TEAM
/* --------------------------------------------------------------------- */

.team-member {
    padding: 0 0 45px 0;
    text-align: center;
    background: #384551;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}
.team-member:hover {
    margin-top: -25px;
    margin-bottom: 25px;
}

.team-member .member-img {
    width: 100%;
    max-width: 100%;
}

.team-member span {
    display: block;
}

.team-member .name {
    padding: 20px 0 0 0;
    font-size: 1.6em;
    font-style: italic;
}

.team-member .function {
    padding: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 0.8em;
}




/* --------------------------------------------------------------------- */
/* 10. BLOG
/* --------------------------------------------------------------------- */

/* === 10.1 BLOG PREVIEW === */

#blog-preview li {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background: #384551;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}
#blog-preview li:hover {
    background: #48a65b;
}

#blog-preview li:after {
    content: "";
    display: table;
    clear: both;
}

#blog-preview .prev-img {
    display: inline-block;
    width: 50%;
    float: left;
}

#blog-preview .text {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

#blog-preview .text h4 {
    font-size: 1.6em;
    margin-top: 18%;
    margin-bottom: 30px;
}

#blog-preview .text .detail {
    display: block;
    font-size: 0.85em;
    text-transform: uppercase;
}

#blog-preview .text .detail i {
    font-style: italic;
    text-transform: none;
}

#blog-preview .layer {
    position: absolute;
    top: 40%;
    left: -50%;
    width: 50%;
    z-index: 2;
    text-align: center;
    opacity: 0;
}

.blog-button {
    padding: 50px 0 0 0;
    text-align: center;
}



/* === 10.2 BLOG DETAILS === */

#blog-wrapper {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    background: #384551;
}

#blog-wrapper #blog-loader {
    padding: 80px 0 80px 0;
    text-align: center;
}
#blog-wrapper #blog-loader img {
    width: 30px;
}

#blog-wrapper .blog-article {
	display: none;
}

#blog-wrapper .close {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#blog-wrapper #close-blog-wrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #d7d7d7;
    background: url('../images/layout/close.png') no-repeat center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
#blog-wrapper #close-blog-wrapper:hover {
    border: 2px solid #48a65b;
    background-color: #48a65b;
}


#blog-wrapper .wrapper {
	padding: 50px 0 60px 0;
}


#blog-wrapper .blog-slider img {
    width: 100%;
    max-width: 100%;
}

#blog-wrapper h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px;
}

#blog-wrapper .categorie, #blog-wrapper .author, #blog-wrapper .date {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
}

#blog-wrapper .date {
    margin-bottom: 20px;
}



.blog-button {
    padding: 50px 0 0 0;
    text-align: center;
}

.blog-button .button {
    position: relative;
}

.blog-button .button img {
    display: none;
    position: absolute;
    top: 20px;
    right: -40px;
    width: 25px;
}




/* --------------------------------------------------------------------- */
/* 11. CONTACT
/* --------------------------------------------------------------------- */

.contact-headline {
	margin-bottom: 0 !important;
}

.parallax-contact {
	margin-top: 0 !important;
}

.contact-row {
	padding-top: 80px;
	padding-bottom: 80px;
}



/* === 11.1 CONTACT FORM === */

.contact-form input {
    display: block;
    max-width: 600px !important;
    margin: 0 auto 10px auto;
}

.contact-form textarea {
    display: block;
    margin: 0 auto 30px auto;
}

.contact-form .alert-box {
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
}


/* === 11.2 CONTACT DETAILS === */

.contact-details span {
    display: block;
}

.contact-details .detail {
    display: block;
    margin-bottom: 5px;
}
.contact-details .detail:after {
    content: "";
    display: table;
    clear: both;
}

.contact-details .icon {
    float: left;
    width: 30px;
}

.contact-details .text {
    float: left;
    font-size: 0.85em;
}




/* --------------------------------------------------------------------- */
/* 12. FOOTER
/* --------------------------------------------------------------------- */

/* === 12.1 TAGS === */

.tags a {
	margin: 0 0 5px 0;
}



/* === 12.2 BOTTOM BOX === */

.bottom-box {
	padding: 20px 0;
	background: #232d35;
	text-align: center;
	font-size: 0.85em;
	color: rgba(255,255,255,0.4);
}




/* --------------------------------------------------------------------- */
/* 13. SHORTCODE PAGE
/* --------------------------------------------------------------------- */

.shortcode-buttons a {
	margin: 0 0 15px 0;
}

.shortcode-social a {
	margin-bottom: 10px !important;
}



