



// ERANGE
// ERANGE
// ERANGE

/*  Para los 5 recuadros no nativos al final de la plantilla  */
/*  Para los 5 recuadros no nativos al final de la plantilla  */
/*  Para los 5 recuadros no nativos al final de la plantilla  */
#header {z-index: 1998;}  /*  Con esto se evita que los erange squares queden sobre el menù al hacer scroll */
#erangeSquaresContainer {
	position:relative;
	// top:0px;                       /* Se declara mediante media query */
	left:0px;
	width:100%;
	margin:auto;
	// margin-bottom: 50px;
}
.erangeSquares:before,
.erangeSquares:after {
	display: block;
	content: "";
}
.erangeSquares:after {clear: left;}


.erangeSquares {
	position: relative;
	bottom: 0;
	// width: 95%;    // mediante media query
	/*min-width: 800px;*/
	max-width: 1366px;
	height: auto;
	margin: 0;
	padding: 0;
	/*left: 31px;*/
	margin: auto;
}
.erangeSquare1, .erangeSquare2, .erangeSquare3, .erangeSquare4, .erangeSquare5 {
	position: absolute;
	width: 99%;
	/*min-width: 150px;*/
	// max-width: 364px;
	height: 149px;
	margin: 0;
	padding: 0;
	background: white;
	border: 1px solid lightgray;
	border-top: none;
	z-index: 1000;
}
.erangeSquare1 {background: url(base/img/secciones/erange/erange01.png) no-repeat center aliceblue;}
.erangeSquare2 {background: url(base/img/secciones/erange/erange02.png) no-repeat center aliceblue;}
.erangeSquare3 {background: url(base/img/secciones/erange/erange03.png) no-repeat center aliceblue;}
.erangeSquare4 {background: url(base/img/secciones/erange/erange04.png) no-repeat center aliceblue;}
.erangeSquare5 {background: url(base/img/secciones/erange/erange05.png) no-repeat center aliceblue;}

.linkBackground {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}


.erangeSquare1:hover ~ .erangeCajaEmergente1, .erangeSquare2:hover ~ .erangeCajaEmergente2, .erangeSquare3:hover ~ .erangeCajaEmergente3, .erangeSquare4:hover ~ .erangeCajaEmergente4, .erangeSquare5:hover ~ .erangeCajaEmergente5 {
	-webkit-transform:translate(0px,-110px);
	-moz-transform:translate(0px,-110px);
	-ms-transform:translate(0px,-110px);
	-o-transform:translate(0px,-110px);
	transform:translate(0px,-110px);

	background: rgba(0,0,0,.9);
}


.erangeCajaEmergente1, .erangeCajaEmergente2, .erangeCajaEmergente3, .erangeCajaEmergente4, .erangeCajaEmergente5 {
	position: absolute;
	top: -40px;
	left: 0px;
	width: 99%;
	height: 149px;
	background: rgba(0,0,0,.7);
	/*border: 1px solid rgba(0,0,0,0);*/
	text-align: center;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	-ms-transition:500ms;
	-o-transition:500ms;
	transition:500ms;
	line-height: 1.2rem;
	z-index: 1;
}
.erangeCajaEmergente1, .erangeCajaEmergente2, .erangeCajaEmergente3, .erangeCajaEmergente4, .erangeCajaEmergente5 img {
	-webkit-transition:500ms;
	-moz-transition:500ms;
	-ms-transition:500ms;
	-o-transition:500ms;
	transition:500ms;		
}
.erangeCajaEmergente1Title, .erangeCajaEmergente2Title, .erangeCajaEmergente3Title, .erangeCajaEmergente4Title, .erangeCajaEmergente5Title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: #EF4A43;
	// font-size: 18px;       //mediante media query
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	color: white;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	-ms-transition:500ms;
	-o-transition:500ms;
	transition:500ms;	
}
.erangeCajaEmergente1:hover, .erangeCajaEmergente2:hover, .erangeCajaEmergente3:hover, .erangeCajaEmergente4:hover, .erangeCajaEmergente5:hover {
	-webkit-transform:translate(0px,-110px);
	-moz-transform:translate(0px,-110px);
	-ms-transform:translate(0px,-110px);
	-o-transform:translate(0px,-110px);
	transform:translate(0px,-110px);
}

.erangeSquareWrapper{
	// display: inline-block;  // se pone mediante media query
	position: relative;
	// width: 23%;             // se pone mediante media query
	/*min-width: 150px;*/
	// max-width: 364px;       // se pone mediante media query
	height: 100px;
	margin: 0;
	padding: 0;
	z-index: 1000;
	margin: 0 5px;
	/*float: left;*/
}




