// ----------------------240px x 479px
// ----------------------240px x 479px
// ----------------------240px x 479px

@media (min-width : 240px) and (max-width : 479px) {
	header#menu {
		ul#main-navigation {
			display: none;
		}
		select#menuSelect {
			display: block;
		}
	}
	section#quienes-somos {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}		
	}
	section#metodo-krasiba {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}		
	}
	section#coaching {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 93%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 96.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
			li#mk-li-01 {div.col.span_4 {width: 55%;} div.col.span_8 {width: 59.666667%;} }
		}
	}
	section#instalaciones {
		p {
			width: 90%;
			margin: auto;
		}
	}
	section#testimonios {
		div.row {
			.testimonioComentario {font-size: .7rem !important;}
			#testimoniosPrincipales {display: none;}
			#testimoniosAlternativos {display: block;}			
		}
	}
	section#erange {
			.erangeSquares {
				width: 57%;
				.erangeSquareWrapper {
					display: block;
					width: 100%;
					margin-bottom: 7rem;
					.x {
						.erangeCajaEmergente1Title {
							font-size: .7rem;
						}
						span {
							font-size: 1rem;
						}						
					}
				}		
			}
	}	
}


// ---------------------- 480px
// ---------------------- 480px
// ---------------------- 480px

@media (min-width: 480px) {
	header#menu {
		ul#main-navigation {
			display: none;
		}
		select#menuSelect {
			display: block;
		}
	}	
	section#quienes-somos {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}	
	section#metodo-krasiba {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}
	section#coaching {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 93%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 96.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
			li#mk-li-01 {div.col.span_4 {width: 55%;} div.col.span_8 {width: 59.666667%;} }
		}
	}
	section#instalaciones {
		p {
			width: 90%;
			margin: auto;
		}
	}
	section#testimonios {
		div.row {
			.testimonioComentario {font-size: .7rem !important;}
			#testimoniosPrincipales {display: none;}
			#testimoniosAlternativos {display: block;}			
		}
	}
	section#erange {
			.erangeSquares {
				width: 57%;
				.erangeSquareWrapper {
					display: block;
					width: 100%;
					margin-bottom: 7rem;
					.x {
						.erangeCajaEmergente1Title {
							font-size: .7rem;
						}						
						span {
							font-size: 1rem;
						}
					}
				}		
			}
	}	
}


// ----------------------  626px
// ----------------------  626px
// ----------------------  626px
@media (min-width: 626px) {
	section#quienes-somos {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}	
	section#metodo-krasiba {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}
	section#testimonios {
		div.row {
			.testimonioComentario {font-size: .7rem !important;}
			div#testimoniosPrincipales.col.span_8 {display: block;}
			div#testimoniosAlternativos.col.span_8 {display: none;}			
		}
	}
}




// ----------------------  768px
// ----------------------  768px
// ----------------------  768px

@media (min-width: 768px) {
	section#quienes-somos {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 90%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 93.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}	
	section#metodo-krasiba {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 64%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 68.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}
	section#instalaciones {
		p {
			width: 51%;
			margin: auto;
		}
	}	
	section#erange {
		.erangeSquares {
			width: 95%;
			.erangeSquareWrapper {
				display: inline-block;
				width: 23%;
				margin-bottom: 3rem;
				.x {
					.erangeCajaEmergente1Title {
						font-size: 1rem;
					}
					span {
						font-size:.6rem;
					}
				}
			}		
		}			
	}	
}





// ----------------------  992px
// ----------------------  992px
// ----------------------  992px

@media (min-width: 992px) {
	header#menu {
		ul#main-navigation {
			display: block;
			li {
				font-size: .6rem;
			}
		}
		select#menuSelect {
			display: none;
		}		
	}		
	section#quienes-somos {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 62%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 66.6666666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
		}
	}
	section#metodo-krasiba {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 55%;
					margin: auto;
					float: none;
				}
				div.col.span_8 {
					width: 59.666667%;
					margin: auto;
					clear: left;
					float: none;
				}
			}
			li#mk-li-01, li#mk-li-02, li#mk-li-03, li#mk-li-06, li#mk-li-07 {div.col.span_4 {width: 52%;} div.col.span_8 {width: 55.666667%;} }
		}
	}
	section#coaching {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 33.33%;
					float: left;
				}
				div.col.span_8 {
					width: 66.6666666667%;
					margin: auto;
					clear: none;
					float: left;
				}
			}
			li#ctc-li-01 {div.col.span_4 {width: 33.33%;} div.col.span_8 {width: 66.6666666667%;} }
		}
	}
	section#instalaciones {
		p {
			width: 90%;
			margin: auto;
		}
	}
	section#erange {
		.erangeSquares {
			.erangeSquareWrapper {
				.x {
					span {
						font-size:1rem;
					}
				}
			}		
		}			
	}	
}



// ----------------------  1200px
// ----------------------  1200px
// ----------------------  1200px

@media (min-width: 1200px) {
	header#menu {
		ul#main-navigation {
			li {
				font-size: .73rem;
			}
		}
	}		
	section#quienes-somos {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 33.33%;
					float: left;
				}
				div.col.span_8 {
					width: 66.6666666667%;
					margin: auto;
					clear: none;
					float: left;
				}
			}
		}
	}
	section#metodo-krasiba {
		ul#blog-preview {
			li {
				div.col.span_4 {
					width: 33.33%;
					float: left;
				}
				div.col.span_8 {
					width: 66.6666666667%;
					margin: auto;
					clear: none;
					float: left;
				}
			}
			li#mk-li-01, li#mk-li-02, li#mk-li-03, li#mk-li-04, li#mk-li-05, li#mk-li-06, li#mk-li-07, li#mk-li-08 {div.col.span_4 {width: 33.33%;} div.col.span_8 {width: 66.6666666667%;} }
		}
	}
	section#testimonios {
		.testimonioComentario {font-size: .81rem !important;}
	}		
}


// ----------------------  1366px
// ----------------------  1366px
// ----------------------  1366px

@media (min-width: 1366px) {
	header#menu {
		ul#main-navigation {
			li {
				font-size: .77rem;
			}
		}
	}	
}




// ----------------------  1600px
// ----------------------  1600px
// ----------------------  1600px

@media (min-width: 1600px) {
}




















