

// TESTIMONIOS
// TESTIMONIOS
// TESTIMONIOS
// TESTIMONIOS
.testimonioWrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 50px;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	color: white;   /*  cambiar a blanco cuando quede listo */
}
.testimonioComentario {
	position: relative;
	left: 10.3%;
	width: 85.7%;
	height: 0px;
	border: 1px solid white;
	border-top: none;
	border-bottom: none;
	padding: 0px 19px;
	font-size: 14px !important;
	overflow: hidden;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	-op-transition: all ease 1s;
	transition: all ease 1s;
}
.testAutor {font-size: 12px !important;}
#div1a, #div2a, #div3a, #div4a, #div5a, #div6a, #div7a, #div8a, #div9a, #div10a, #div11a, #div12a, #div13a {
	width: 100%;
	height: 35px;
	cursor: pointer;
}
.testimonioTitleA, .testimonioTitleB {
	position: relative;
	line-height: 38px;
	border: 1px solid white;
	float: left;
}
.testimonioTitleA {width: 9%; height: 100%; text-align: center; font-size: .7rem;}
.testimonioTitleB {width: 87%; height: 100%; padding-left: 10px; border-left: none; font-size: 17px !important;}

.testimonioName2 {font-size:12px !important; color: gray;}

#div1b, #div2b, #div3b, #div4b, #div5b, #div6b, #div7b, #div8b, #div9b, #div10b, #div11b, #div12b, #div13b {height: 0px;}



