<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-25.php">
        <img src="base/img/photo-album/galleries-img/galeria-25.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Hipotecario</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-24.php">
        <img src="base/img/photo-album/galleries-img/galeria-24.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Banca Migrante</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-23.php">
        <img src="base/img/photo-album/galleries-img/galeria-23.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Grupo Axo</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-22.php">
        <img src="base/img/photo-album/galleries-img/galeria-22.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Johnson & Johnson</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-21.php">
        <img src="base/img/photo-album/galleries-img/galeria-21.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Fedele</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-20.php">
        <img src="base/img/photo-album/galleries-img/galeria-20.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Merck Juriquilla</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-19.php">
        <img src="base/img/photo-album/galleries-img/galeria-19.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">MONSANTO RH</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-18.php">
        <img src="base/img/photo-album/galleries-img/galeria-18.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">IPADE MONTERREY</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-17.php">
        <img src="base/img/photo-album/galleries-img/galeria-17.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">GRUPO VALORAN</h4>
            <span class="client">SLP</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-16.php">
        <img src="base/img/photo-album/galleries-img/galeria-16.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">METCO</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->


<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-15.php">
        <img src="base/img/photo-album/galleries-img/galeria-15.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">PGR</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-14.php">
        <img src="base/img/photo-album/galleries-img/galeria-14.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">ITAM</h4>
            <span class="client">DICIEMBRE 2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-13.php">
        <img src="base/img/photo-album/galleries-img/galeria-13.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Hipotecaria</h4>
            <span class="client">Puebla</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-12.php">
        <img src="base/img/photo-album/galleries-img/galeria-12.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Hipotecaria</h4>
            <span class="client">Monterrey 2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-11.php">
        <img src="base/img/photo-album/galleries-img/galeria-11.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Hipotecaria</h4>
            <span class="client">SLP 2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

