<!-- ..........................................................................................................
     ..........................................................................................................
     .......... Al presionar el botón "Cargar más galerías", se muestra un paquete extra de imágenes   ........
     .......... que se suman a las que trae por default el archivo galeria.html. Ese paquete extra     ........
     .......... sale del presente archivo, load-more-01.html.                                          ........
     ..........     Para añadir una imagen más (que represente una nueva galería), súmese a las ya     ........
     .......... puestas en el archivo galeria.html, y déjese los archivos "load-more" como están.       ........
     ..........     La nueva imagen (que representa una nueva galería) llevará el mismo nombre que     ........
     .......... el de la última imagen puesta, más uno.                                                ........
     ..........................................................................................................
     ..........................................................................................................
-->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-70.php">
        <img src="base/img/photo-album/galleries-img/galeria-70.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Sura</h4>
            <span class="client">Febrero 2013</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-69.php">
        <img src="base/img/photo-album/galleries-img/galeria-69.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Staff Campo Krasiba</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-68.php">
        <img src="base/img/photo-album/galleries-img/galeria-68.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Grupo Presidente</h4>
            <span class="client">7 Diciembre 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-67.php">
        <img src="base/img/photo-album/galleries-img/galeria-67.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Chilis</h4>
            <span class="client">Julio 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-66.php">
        <img src="base/img/photo-album/galleries-img/galeria-66.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Chrysler Juridico</h4>
            <span class="client">Julio 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-65.php">
        <img src="base/img/photo-album/galleries-img/galeria-65.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Coca cola</h4>
            <span class="client">FEMSA</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-64.php">
        <img src="base/img/photo-album/galleries-img/galeria-64.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Procter and Gamble Walmart Team</h4>
            <span class="client">Julio 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-63.php">
        <img src="base/img/photo-album/galleries-img/galeria-63.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Jose Cuervo</h4>
            <span class="client">Junio 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-62.php">
        <img src="base/img/photo-album/galleries-img/galeria-62.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Chrysler</h4>
            <span class="client">Mayo 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-61.php">
        <img src="base/img/photo-album/galleries-img/galeria-61.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bonice RH </h4>
            <span class="client">Abril 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->


<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-60.php">
        <img src="base/img/photo-album/galleries-img/galeria-60.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Shasa</h4>
            <span class="client">Abril 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-59.php">
        <img src="base/img/photo-album/galleries-img/galeria-59.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bonice</h4>
            <span class="client">Acapulco 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-58.php">
        <img src="base/img/photo-album/galleries-img/galeria-58.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bayer</h4>
            <span class="client">13 Febrero 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-57.php">
        <img src="base/img/photo-album/galleries-img/galeria-57.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Andrea</h4>
            <span class="client">Enero 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-56.php">
        <img src="base/img/photo-album/galleries-img/galeria-56.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bonice </h4>
            <span class="client">22 Diciembre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

