<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-40.php">
        <img src="base/img/photo-album/galleries-img/galeria-40.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">NYCE</h4>
            <span class="client">20 Agosto</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-39.php">
        <img src="base/img/photo-album/galleries-img/galeria-39.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bonafont</h4>
            <span class="client">2 y 3 de Agosto</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-38.php">
        <img src="base/img/photo-album/galleries-img/galeria-38.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Reckitt Benckiser</h4>
            <span class="client">15 Julio</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-37.php">
        <img src="base/img/photo-album/galleries-img/galeria-37.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Mabe </h4>
            <span class="client">7 de Julio</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-36.php">
        <img src="base/img/photo-album/galleries-img/galeria-36.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Monsanto </h4>
            <span class="client">28 de Julio</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-35.php">
        <img src="base/img/photo-album/galleries-img/galeria-35.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Profuturo</h4>
            <span class="client">4 y 5 de Julio</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-34.php">
        <img src="base/img/photo-album/galleries-img/galeria-34.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bimbo</h4>
            <span class="client">28 de Junio</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-33.php">
        <img src="base/img/photo-album/galleries-img/galeria-33.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Biomerieux </h4>
            <span class="client">10 y 11 de Junio 2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-32.php">
        <img src="base/img/photo-album/galleries-img/galeria-32.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Terranova</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-31.php">
        <img src="base/img/photo-album/galleries-img/galeria-31.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Gemalto</h4>
            <span class="client">11 y 12 de Mayo</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->


<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-30.php">
        <img src="base/img/photo-album/galleries-img/galeria-30.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Hipotecaria</h4>
            <span class="client">08 Abril</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-29.php">
        <img src="base/img/photo-album/galleries-img/galeria-29.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">NYCE</h4>
            <span class="client">15 Y 16 de Abril</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-28.php">
        <img src="base/img/photo-album/galleries-img/galeria-28.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Hipotecario</h4>
            <span class="client">01 Abril</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-27.php">
        <img src="base/img/photo-album/galleries-img/galeria-27.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">ITAM</h4>
            <span class="client">02 Abril</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-26.php">
        <img src="base/img/photo-album/galleries-img/galeria-26.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">P&G</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

