<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-10.php">
        <img src="base/img/photo-album/galleries-img/galeria-10.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">DC</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-09.php">
        <img src="base/img/photo-album/galleries-img/galeria-09.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Divimex</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-08.php">
        <img src="base/img/photo-album/galleries-img/galeria-08.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">ITAM</h4>
            <span class="client">Octubre 2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-07.php">
        <img src="base/img/photo-album/galleries-img/galeria-07.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Pymes</h4>
            <span class="client">2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-06.php">
        <img src="base/img/photo-album/galleries-img/galeria-06.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bayer</h4>
            <span class="client">2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-05.php">
        <img src="base/img/photo-album/galleries-img/galeria-05.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Monsanto</h4>
            <span class="client">Agosto 2010</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-04.php">
        <img src="base/img/photo-album/galleries-img/galeria-04.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">ITAM</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-03.php">
        <img src="base/img/photo-album/galleries-img/galeria-03.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">K&K</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-02.php">
        <img src="base/img/photo-album/galleries-img/galeria-02.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Mazamitla</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-01.php">
        <img src="base/img/photo-album/galleries-img/galeria-01.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Banorte Monterrey</h4>
            <!-- <span class="client">zzzzzzzzzzzzzzzzzzzzzzzzzz</span> -->
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

