<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-55.php">
        <img src="base/img/photo-album/galleries-img/galeria-55.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Comex </h4>
            <span class="client">Enero 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-54.php">
        <img src="base/img/photo-album/galleries-img/galeria-54.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">IPADE</h4>
            <span class="client">27 y 28 Octubre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-53.php">
        <img src="base/img/photo-album/galleries-img/galeria-53.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Kidzania</h4>
            <span class="client">14 de Noviembre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-52.php">
        <img src="base/img/photo-album/galleries-img/galeria-52.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Kidzania </h4>
            <span class="client">Enero 2012</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-51.php">
        <img src="base/img/photo-album/galleries-img/galeria-51.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Merck </h4>
            <span class="client">30 Noviembre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-50.php">
        <img src="base/img/photo-album/galleries-img/galeria-50.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">CONAGUA</h4>
            <span class="client">25 Octubre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-49.php">
        <img src="base/img/photo-album/galleries-img/galeria-49.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Chacon y Rodríguez</h4>
            <span class="client">21 de Octubre</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-48.php">
        <img src="base/img/photo-album/galleries-img/galeria-48.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Seguros</h4>
            <span class="client">18 de Octubre</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-47.php">
        <img src="base/img/photo-album/galleries-img/galeria-47.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Procter & Gamble</h4>
            <span class="client">19 y 20 de Octubre</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-46.php">
        <img src="base/img/photo-album/galleries-img/galeria-46.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Bancomer Seguros </h4>
            <span class="client">17 de Octubre</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->


<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-45.php">
        <img src="base/img/photo-album/galleries-img/galeria-45.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Ferromex </h4>
            <span class="client">14 de Octubre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-44.php">
        <img src="base/img/photo-album/galleries-img/galeria-44.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Monsanto </h4>
            <span class="client">30 Septiembre 2011</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-43.php">
        <img src="base/img/photo-album/galleries-img/galeria-43.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Conagrafoods </h4>
            <span class="client">18 y 19 Agosto</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-42.php">
        <img src="base/img/photo-album/galleries-img/galeria-42.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Liverpool </h4>
            <span class="client">11 y 12 Agosto</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

<!-- START WORK -->
<li class="mix webdesign width-03">
    <a href="base/pages/galeria-41.php">
        <img src="base/img/photo-album/galleries-img/galeria-41.jpg" alt="" />
        <!-- START LAYER -->
        <div class="layer">
            <h4 class="underline">Moldes y Exhibidores</h4>
            <span class="client">1 y 2 de Septiembre</span>
        </div><!-- END LAYER -->
    </a>
</li><!-- END WORK -->

